.bio h4 {
    margin: 0;
    margin-top: 10px;
}

.bio p {
    font-size: 150%;
    margin: 0;
}

.character {
    background-color: white;
}
.characterInfo {
    display: flex;
    justify-content: center;
}

.characterInfo > div {
    border: 1px solid black;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50%;
}

.character h2 {
    position: inline-block;
    padding-top: 3%;
    color: white;
    background-color: grey;
    text-align: center;
    margin: 0%;
    border-width: 1px;
}

.character img {
    width: 100%;
    padding: 0;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#pic-desc {
    font-size: 150%;
    text-align: center;
    font-style: italic;
}

.pc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0px;
}

.pc > div {
    width: 30%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
}

.pc img {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 10%;
}
.pc a {
    text-decoration: none;
}

.pc h3 {
    font-size: 200%;
    color: black;
}

.items h6{
    margin-top: -10px;
}

.imageCollection {
    gap: 0px;
}

.imageCollection > div {
    width: 30%;
    margin-top: 5%;
}

.imageCollection img {
    width: 100%;
    border-radius: 5%;
    border: solid black;
    margin-bottom: 0%;
    padding: 1%;
}

.imageCollection p{
    font-style: italic;
    font-size: 100%;
}


.spellStats {
    margin-top: 0%;
    margin-bottom: 0%;
}

@media screen and (min-width: 1000px) {
    .spells > div {
        display: inline-block;
    }

    .spellStats > div{
        display: inline-block;
    }

    .imageCollection > div {
        width: 20%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .imageCollection p{
        font-style: italic;
        font-size: 90%;
    }

    .pc h3 {
        font-size: 100%;
    }

    .pc > div {
        width: 20%;
    }

    .character {
        display: block;
        float: right;
        width: 25%;
        padding: 0;
        margin: 0;
    }
    .characterInfo {
        display: flex;
        flex-flow: column;
        margin: 0;
        padding: 0;
    }

    .characterInfo > div {
        width: 100%;
    }

    .bio p {
        font-size: 80%;
    }

    #pic-desc {
        font-size: 100%;
    }
}


.spellStats > div {
    margin-top: 0%;
    margin-bottom: 0%;
}

