.character {
    display: block;
    background-color: white;
    border-top: solid black;
    border-right: solid black;
    border-left:solid black;
    border-bottom: solid black;
    border-width: 1px;
}

.bio h4 {
    margin: 0;
    margin-top: 10px;
}

.bio p {
    font-size: 80%;
    margin: 0;
}

#char-name {
    visibility: hidden;
}

.character h2 {
    position: inline-block;
    padding-top: 3%;
    color: white;
    background-color: grey;
    text-align: center;
    margin: 0%;
    border-width: 1px;
}

.character img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#pic-desc {
    text-align: center;
    font-style: italic;
    padding: 0%;
    font-size: 70%;
}

.pc {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0px;
}

.pc > div {
    width: 30%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
}

.pc img {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 10%;
}
.pc a {
    text-decoration: none;
}

.pc h3 {
    font-size: 200%;
    color: black;
}

.items h6{
    margin-top: -10px;
}

.imageCollection {
    gap: 0px;
}

.imageCollection > div {
    width: 30%;
    margin-top: 5%;
}

.imageCollection img {
    width: 100%;
    border-radius: 5%;
    border: solid black;
    margin-bottom: 0%;
    padding: 1%;
}

.imageCollection p{
    font-style: italic;
    font-size: 100%;
}


.spellStats {
    margin-top: 0%;
    margin-bottom: 0%;
}

@media screen and (min-width: 1000px) {
    .spells > div {
        display: inline-block;
    }

    .spellStats > div{
        display: inline-block;
    }

    .imageCollection > div {
        width: 20%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .imageCollection p{
        font-style: italic;
        font-size: 90%;
    }

    .character {
        position: inline-block;
        float: right;
        width: 20%;
    }

    #char-name {
        visibility:visible;
    }

    .pc h3 {
        font-size: 100%;
    }

    .pc > div {
        width: 20%;
    }
}


.spellStats > div {
    margin-top: 0%;
    margin-bottom: 0%;
}

