body {
    background-image: url("/images/background.jpg");
    background-size: 50%;
    background-repeat: repeat;
}

.main-body {
    background-color: white;
    border-radius: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: -2%;
    margin-left: -2%
    
}


.main-body h1,h2,h3{
    text-align: center;
    margin: 0px;
}

.main-body h5{
    margin: 0;
}
.main-body h1{
    margin-bottom: 5%;
}

.main-body div {
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%
}

.main-body div h2 {
    border-bottom: solid black;
    border-width: 1px;
}

footer {
    float: right;
    color: white;
}

#homeMap{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border: solid black;
    width: 50%;
}

.currentCampaigns {
    margin-top: 0;;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0px;
}

.currentCampaigns > div {
    width: 150px;
    height: 150px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
}

.currentCampaigns img {
    margin-top: 0;
    width: 150px;
    height: 150px;
    border-radius: 5%;
    border: solid black;
    margin-bottom: 10%;
}

.currentCampaigns a {
    text-decoration: none;
    color: black;
}

.currentCampaigns a h5 {
    text-align: center;
}
.changelog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0px;
}

#changelogDate {
    text-align: center;
    margin-bottom: 0px;
}

@media screen and (min-width: 1000px) {
    
    .main-body {
        margin-left: 2%;
        margin-right: 2%;
    }
    
}