<!DOCTYPE html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/functions.js"></script>

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/campaigns.css">
</head>
<body>
    <div id="nav"></div>
    
    <div class="main-body">
        <h1>[Campaign Name]</h1>
        <div class="intro">
            <p>[Campaign Intro]</p>
        </div>
        <img src="/images/blankCharacterArt.png" id="partyPic">
        <div id="partyPicInfo">[Pic Description]</div>
        <div class="partyInfo">
            <div class="PartyMembers">
                <h3>Party Members</h3>
                <ul>
                    <li><a href="">[Party Member]</a></li>
                    <li><a href="">[Party Member]</a></li>
                    <li><a href="">[Party Member]</a></li>
                </ul>
            </div>
            <div class="Goals">
                <h3>Goals</h3>
                <ul>
                    <li><a>[Goal]</a></li>
                </ul>
            </div>
            <div class="Allies">
                <h3>Allies</h3>
                <ul>
                    <li><a>[Ally]</a></li>
                </ul>
            </div>

            <div class="Enemies">
                <h3>Enemies</h3>
                <ul>
                    <li><a>[Enemy]</a></li>
                </ul>
            </div>
        </div>
        <div class="storyArcs">
            <h2>Story Arcs</h2>
                <h3>[Arc]</h3>
                    <p>[Arc Description]</p>
        </div>
            

    </div>
    </div>

    <footer>
        <p>@MaxChillax 2024</p>
    </footer>

    <script>
        $(loadNav);
    </script>
</body>
</html>