<!DOCTYPE html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/functions.js"></script>

    <link rel="stylesheet" href="/main.css">
    <!--Add Category Specific StyleSheet Below-->
    <link rel="stylesheet" href="/characters.css">
    <!--Add Category Specific StyleSheet Above-->
</head>
<body>
    <div id="nav"></div>

    <div class="main-body">
    <!--All Main Body Content Below-->
    <h1>[Character Name]</h1>
        <div class="character">
            <div class="characterInfo">
                <div>
                    <img src="/images/blankCharacterArt.png">
                    <p id="pic-desc">[Picture Name], Created by [Creator]</p>
                </div>
                <div>
                    <h2>Character Bio</h2>
                    <div class = "bio">
                        <h4>Full Name </h4>
                            <p>[Full Name]</p>
                        <h4>Alias(es) </h4>
                            <p>[Alias]</p>
                        <h4>Player</h4>
                            <p>[Player]</p>
                        <h4>Race</h4>
                            <p>[Race]</p>
                        <h4>Class</h4>
                            <p>[Class]</p>
                        <h4>Subclass</h4>
                            <p>[Subclass]</p> 
                        <h4>Background</h4>
                            <p>[Background]</p>
                        <h4>Relationships</h4>
                            <p>[Relationship]</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro">
            <p>[Intro]</p>
        </div>
        <div class="backstory">
            <h2>Backstory</h2>
                <p>[Backstory]</p>
        </div>
        <div class="campaign">
            <h2>Campaign</h2>
                <h3>[Campagin Name]</h3>
                <h4>[Arc Name]</h4>
                    <p>[Arc Description]</p>
        </div>
        <div class="items">
            <h2>Inventory</h2>
                <h4>[Item]</h4>
                    <h6>[Type], [Rarity] [(requires attunement)]</h6>
                        <p>[Item Description]</p>

        </div>
        <div class="abilities">
            <h2>Abilities</h2>
               <h3>[Class]: [Subclass], [Level Number] Level</h3>
                    <h4>[Ability Name]</h4>
                        <p>[Ability Description]</p>
                    <h4>Spellcasting: <a href="https://dnd5e.wikidot.com/spells"> [Class] Spellbook</a></h4>
                        <div class="spellStats">
                            <div><p>Spell Save DC: [Spell Save DC]</p></div>
                            <div><p>Spell Attack Mod: [Spell Attack Mod]</p></div>
                            <div><p>Spell Slots per Level: [Lvl 1 Slots]|[Lvl 2 Slots]</p></div>
                        </div>
                        <h4>Spells</h4>
                            <div class="spells">
                                <div>
                                    <h5>1st Level</h5>
                                        <li>Spell 1</li>
                                        <li>Spell 2</li>
                                        <li>Spell 3</li>
                                </div>
                            </div>
        </div>
        <div class="images">
            <h2>Images</h2>
                <div class="imageCollection">
                    <div><img src="/images/blankCharacterArt.png"><p>[Photo Name], Created by [Creator]</p></div>
                </div>
        </div>
    <!--All Main Body Content Above-->
    </div>

    <footer>
        <p>@MaxChillax 2024</p>
    </footer>

    <script>
        $(loadNav);
    </script>
</body>
</html>