<!DOCTYPE html>

<head>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/functions.js"></script>

    <link rel="stylesheet" href="/main.css">
    <!--Add Category Specific StyleSheet Below-->

    <!--Add Category Specific StyleSheet Above-->
</head>
<body>
    <div id="nav"></div>
    
    <div class="main-body">
    <!--All Main Body Content Below-->
    
    <!--All Main Body Content Above-->
    </div>

    <footer>
        <p>@MaxChillax 2024</p>
    </footer>

    <script>
        $(loadNav);
    </script>
</body>
</html>