nav #header {
    display: flex;
    flex-flow: row;
    justify-content: center;
}


nav #header a{
    text-decoration: none;
    color: black;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

@media screen and (max-width: 1000px) {
    nav li a{
        text-size-adjust: 200%;
        margin-right: 50px;
        margin-left: 50px;
        }

}

@media screen and (min-width: 1001px) {
    nav li a{
        text-size-adjust: 100%;
        margin-right: 0px;
        }
    
    nav img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -20px;
        margin-top: -20px;
        }
        
}
